.MainGame {
  /* position: relative;
  
    position: fixed;
    top: 50%;
    left: 50%;
    */
    /* bring your own prefixes */
    /*transform: translate(-50%, -50%); 
    */
  
}

.antiImg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  width: 100%;
}

.Shop {
  /* width: 263px;
  height: 800px; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;

  background-color: #F9E6CF;
}

.Field {
  /* position: absolute; */
  width: 1024px;
  height: 800px;
  margin-left: auto;
  margin-bottom: auto;
  background: #F9E6CF;

}

.Menu {
  /* position: absolute; */
  display: flex;
  width: 20%;
  height: 10%;
  margin-left: 23px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #F9E6CF;
}

.Card {
  /* width: 193px;
  height: 200px; */
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 7%;
  background: #92A1B9;
  border-radius: 10px;
  display: flow-root;
}


.CreditBar{
  
  margin-left: 5%;
  margin-right: 5%;
  top: 0%;
  bottom: 0%;

  padding-top: 15 px;
  padding-bottom: 15 px;

  background: #2A2F4E;
  border-radius: 12px;
  
  
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
}

.menuBtn{
  /* display: flex; */
  background: #2A2F4E;
  mix-blend-mode: normal;
  margin: 2%;
  border-radius: 12px;
  width: 20%;
  height: 80%;
}


.container{
  display: flex;
}

.BuyBtn{
background: #2A2F4E;
padding-left: 5%;
padding-right: 5%;
margin-bottom: 3%;
margin-left: 5%;
margin-right: 5%;

display: block;
width: 100%;

border-radius: 5px;
/* text */
color: #FFFFFF;
text-align:center;
font-size: 25px;
}

.Name{
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;

  margin-bottom: 10px;
  margin-left: 5%;
  margin-right: 5%;

  background: #2A2F4E;
  border-radius: 5px;

  color: #FFFFFF;
  text-align:center;
  font-size: 20px;
}
