.Head {
  background-color: aquamarine;
  text-align: center;
  /* position: absolute; */
  /* width: 539px;
  height: 150px; */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 130px;
  /* line-height: 234px; */
}

.Body{
  width: auto;
  height: 50%;
  background-color: #FFC0D3;
}

.Bottom{
  width: auto;
  height: 25%;
  text-align: center;
}

.flex-container {
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  /* align-content: center; */
  align-items: center;
}

.container{
  position: relative;
  background-color: #f1f1f1;
  align-items: center;
  /* width: 100px;
  margin: 40px;
  text-align: center;
  line-height: 75px;
  font-size: 30px; */
}

.play-btn{
  border-radius: 8px;
  font-size: 48px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  /* margin: auto; */
  align-content: center;
  
  
}

.center{
  align-content: center;
}
